@model LawnPaynes.ViewModels.CustomerAddViewModel

@section Styles{
    <link href="@Url.Content("~/Content/Styles/contact.css")" rel="stylesheet" type="text/css" />
    }

@{
    ViewBag.Title = "Contact Us";
}

<!-- The contactForm div will contain a contact form to be sent via a jQuery AJAX request and to validate the inputs -->
<div class="contactForm">
    @using (Html.BeginForm())
    {
        <h2>Contact Us!</h2>
        <p> Complete the form below and we will contact you!</p>
        @Html.Partial("_Message")
        <div class="inputs">
            @Html.HiddenFor(m => m.Customer.IsNew, new { @Value = "true" })
            <span class="asterisk">*</span>
            @Html.LabelFor(m => m.Customer.Name, "Name :")
            <br>
            <!-- Set the Name input as the field to autofocus on page load -->
            @Html.TextBoxFor(m => m.Customer.Name, new { @placeholder = "Your Name", @autofocus = "autofocus", @id = "name" })
            <br>
            <span class="asterisk">*</span>
            @Html.LabelFor(m => m.Customer.Email, "Email :")
            <br>
            @Html.TextBoxFor(m => m.Customer.Email, new { @placeholder = "youremail@email.com", @id = "mail", @type = "email" })
            <br>
            <span class="asterisk">*</span>
            @Html.LabelFor(m => m.Customer.PhoneNumber, "Phone Number :")
            <br>
            @Html.TextBoxFor(m => m.Customer.PhoneNumber, new { @placeholder = "(123) 456-7890", @id = "phone", @type = "tel" })
            <br>
        </div>

        <div class="comments">
            <span class="asterisk">*</span>
            @Html.LabelFor(m => m.Customer.Comments, "Comments :")
            <br>
            @Html.TextAreaFor(m => m.Customer.Comments, new {@placeholder = "Type your comments here.", id="comments", @rows ="10" })
            <br>
        </div>
        <!-- Buttons to submit the contact form or reset their inputs -->
        <div class="buttons">
            <input type="reset">
            <input type="Submit">
        </div>     
    }
    </div>
