@section Styles {
    <link href="@Url.Content("~/Content/Styles/Indexstyles.css")" rel="stylesheet" type="text/css"/>
}

@section Scripts {
    <script src="@Url.Content("~/Content/Scripts/spring.js")" type="text/javascript"></script>
    }

@{
    ViewBag.Title = "Index";
}


<!-- This div is the target of spring.js to supply a message based on the date. -->
<div id="alert">
</div>
<div class="main-content">
    <div class="intro-container">
        <img src="@Url.Content("~/Content/img/front_lawn.jpg")" alt="A recently mowed easement of a property that is well-trimmed">
        <h2>Welcome to Lawn Paynes!</h2>
        <p> Lawn Paynes is your complete source for all of your lawn care needs! We provide prompt courteous service that will make your lawn the envy of all of your neighbors.</p>
        <p> We are a complete lawn care provider with all of services that you need! See a list of our services at our @Html.ActionLink("Services", "Services", "Home") Page! Take a look at how we can solve your lawn paynes @Html.ActionLink("here", "OurWork", "Home")!</p>
        <p> If there's something that you don't see or you have questions, you can also chat with us at (502) 111-1111, or you can reach out to us through our handy @Html.ActionLink("Contact Form", "Contact", "Home")! </p>
        <p> If you want your Lawn Paynes to go away, don't hesitate to let us know today!</p>
    </div>
</div>
