@model LawnPaynes.Models.Customer


@* Form that is shared between the Add and Edit Views *@
<div class="container">
    <div class="form-group row justify-content-center">
        @Html.LabelFor(m => m.Name, new { @class = "col-10 col-sm-2 col-form-label" })
        <div class="col-10 col-sm-6 col-lg-4">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-lg" })
        </div>
    </div>
</div>

<div class="container">
    <div class="form-group row justify-content-center">
        <div class="col-10 col-sm-2">New Customer</div>
        <div class="col-10 col-sm-6 col-lg-4">
            @Html.CheckBoxFor(m => m.IsNew, new { @class = "form-check-label" })

        </div>
    </div>
</div>

<div class="container">
    <div class="form-group row justify-content-center">
        @Html.LabelFor(m => m.Email, new { @class = "col-10 col-sm-2 col-form-label" })
        <div class="col-10 col-sm-6 col-lg-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg" })
        </div>
    </div>
</div>
<div class="container">
    <div class="form-group row justify-content-center">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-10 col-sm-2 col-form-label" })
        <div class="col-10 col-sm-6 col-lg-4">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-lg" })
        </div>
    </div>
</div>
<div class="container">
    <div class="form-group row justify-content-center">
        @Html.LabelFor(m => m.Comments, new { @class = "col-10 col-sm-2 col-form-label" })
        <div class="col-10 col-sm-6 col-lg-4">
            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control form-control-lg", @rows = "10" })
        </div>
    </div>
</div>

