@model LawnPaynes.Models.Customer


@{
    ViewBag.Title = "Customer Detail: " + Model.Name;
}

<h2 class="text-center">@Model.Name</h2>

<div class="d-flex justify-content-center">
    <div class="col-11">
        @* TempData messages are delivered from ActionResult methods in the Controllers. *@
        @Html.Partial("_Message")
    </div>
</div>
@* Display all of the properties of a Customer *@
<div class="container col-11 col-xl-6 text-center bg-light rounded border">
    <div class="row justify-content-center ">
        <div class="col-5 col-xl-6">
            <h5>
                @Html.LabelFor(m => m.Name):
            </h5>
        </div>
        <div class="col-7 col-xl-6">
            <h5>
                @Model.Name
            </h5>
        </div>
    </div>


    @{
        if (Model.IsNew)
        {
            <div class="row justify-content-center text-white bg-danger ">
                <div class="col-5 col-xl-6">
                    <h5>
                        @Html.LabelFor(m => m.IsNew, "New?")
                    </h5>
                </div>
                <div class="col-7 col-xl-6">
                    <h5>
                        Yes
                    </h5>
                </div>
            </div>
        }
        else
        {

            <div class="row justify-content-center ">
                <div class="col-5 col-xl-6">
                    <h5>
                        @Html.LabelFor(m => m.IsNew):
                    </h5>
                </div>
                <div class="col-7 col-xl-6">
                    <h5>
                        No
                    </h5>
                </div>
            </div>
        }
    }

    <div class="row justify-content-center">
        <div class="col-5 col-xl-6">
            <h5>
                @Html.LabelFor(m => m.Email):
            </h5>
        </div>
        <div class="col-7 col-xl-6">
            <h5>
                <a href="mailto:@Model.Email">@Model.Email</a>
            </h5>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5 col-xl-6">
            <h5>
                @Html.LabelFor(m => m.PhoneNumber, "Phone:")
            </h5>
        </div>
        <div class="col-7 col-xl-6">
            <h5>
                @Model.PhoneNumber
            </h5>
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-5 col-xl-6">
            <h5>
                @Html.LabelFor(m => m.Comments):
            </h5>
        </div>
        <div class="col-7 col-xl-6">
            <h5>
                @Model.Comments
            </h5>
        </div>
    </div>

</div>
<br />
<div class="container col-11 col-xl-8">
    <div class="row justify-content-center pad-top">
        @* Iterate through each CustomerLocation attached to this Customer's view model *@
        @foreach (var customerLocation in Model.CustomerLocations)
        {
            <div class="card text-center">
                <div class="card-body bg-light">
                    <h5 class="card-title"> Location Detals </h5>

                    <h6>Address</h6>
                    <p class="card-text">@customerLocation.Address</p>

                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Delete?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* Iterate through each ServiceCustomerLocation attached to the Customer Location
                                so that the Service Name can be displayed*@
                            @foreach (var locationService in customerLocation.ServiceCustomerLocations)
                            {
                                <tr>
                                    <td>@locationService.Service.ServiceName</td>
                                    <td>
                                        @* Modal to delete a ServiceCustomerLocation *@
                                        <a data-toggle="modal" href="#deleteServiceCustomerLocationModal+@locationService.ServiceId+@locationService.CustomerLocationId" class="btn btn-danger btn-sm margin-right">Delete Service</a>
                                        <div class="modal" id="deleteServiceCustomerLocationModal+@locationService.ServiceId+@locationService.CustomerLocationId" tabindex="-1" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    @using (Html.BeginForm("Delete", "ServiceCustomerLocation", new { customerLocationId = locationService.CustomerLocationId, serviceId = locationService.ServiceId, customerId = Model.CustomerId }))
                                                    {
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Remove @locationService.Service.ServiceName from @locationService.CustomerLocation.Address?</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            @Html.AntiForgeryToken()
                                                            Are you sure you want to remove @locationService.Service.ServiceName from this location for @Model.Name? This service will have to be added to this customer's location again.
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-danger">Delete </button>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel and Return to Customer Detail</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @Html.ActionLink("Edit Address", "Edit", "CustomerLocation", new { id = customerLocation.CustomerLocationId }, new { @class = "btn btn-primary margin-right" })
                    @Html.ActionLink("Add Service", "Add", "ServiceCustomerLocation", new { customerLocationId = customerLocation.CustomerLocationId }, new { @class = "btn btn-success margin-right" })
                    @* Modal to delete a CustomerLocation *@
                    <a data-toggle="modal" href="#deleteCustomerLocationModal+@customerLocation.CustomerLocationId" class="btn btn-danger margin-right">Delete Location</a>
                    <div class="modal" id="deleteCustomerLocationModal+@customerLocation.CustomerLocationId" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @using (Html.BeginForm("Delete", "CustomerLocation", new { customerLocationId = customerLocation.CustomerLocationId, customerId = customerLocation.CustomerId }))
                                {
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete @customerLocation.Address?</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        @Html.AntiForgeryToken()
                                        Are you sure you want to delete this location for @Model.Name? It cannot be restored to @Model.Name.
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-danger">Delete </button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel and Return to Customer Detail</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
<br />

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="pad-top">
                @Html.ActionLink("Edit " + Model.Name, "Edit", new { id = Model.CustomerId }, new { @class = "btn btn-primary btn-lg mr-2 mt-1 md-0"  })
                @Html.ActionLink("Customer List", "Index", null, new { @class = "btn btn-primary btn-lg mr-2 mt-1 mt-md-0" })
                @Html.ActionLink("Add Address for " + Model.Name, "Add", "CustomerLocation", new { customerId = Model.CustomerId }, new { @class = "btn btn-primary btn-lg mt-1 mt-md-0" })
            </div>
        </div>
    </div>
</div>

