@model List<LawnPaynes.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="d-flex justify-content-end">
    @Html.ActionLink("Add Customer", "Add", null, new { @class = "btn btn-primary " })
</div>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>New Customer</th>
            <th>Phone Number</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                 @{ 
                     if (customer.IsNew)
                     {
                         <td class="text-center alert alert-danger">Yes</td>
                     }
                     else
                     {
                         <td class=" text-center alert alert-success">No</td>
                     }
                 }
                <td> @customer.PhoneNumber</td>
                <td>
                    @Html.ActionLink("Detail", "Detail", new { id = customer.Id }, new {@class="btn btn-primary btn-xs margin-right"})
                </td>
            </tr>
        }
    </tbody>
</table>

