@model LawnPaynes.ViewModels.ServiceCustomerLocationAddViewModel
@{
    ViewBag.Title = "Add Service to " + Model.CustomerLocation.Address;
}

<h2 class="text-center">@ViewBag.Title</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @* Set the CustomerId property of the CustomerId in the viewmodel for the redirect to the associated Customer's Detail *@
    @Html.HiddenFor(m => m.CustomerId, new { @value = Model.CustomerId})
    <div class="container">
        <div class="form-group row justify-content-center">
            <div class="col-10 col-sm-8 col-lg-6">
                @Html.ValidationSummary("Please correct the following errors:", new { @class = "alert alert-danger" })
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-group row justify-content-center">
            @Html.LabelFor(m => m.ServiceId, "Service :", new { @class = "col-10 col-sm-2 col-form-label" })
            <div class=" col-10 col-sm-4 col-lg-3">
                @Html.DropDownListFor(m => m.ServiceId, Model.ServiceSelectListItems, new { @class = "form-control form-control-lg" })
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <div class="pad-top">
                    <button type="submit" class="btn btn-success btn-lg mr-5">
                        <span class="glyphicon glyphicon-save"></span> Add Service
                    </button>
                    @Html.ActionLink("Cancel", "Detail", "Customer", new { id = Model.CustomerId }, new { @class = "btn btn-danger btn-lg mr-5 " })
                </div>
            </div>
        </div>
    </div>
}
